extends navbar.pug

block content
    img(src="images/pencil.svg" id="logo-image").center-block.my-4

    h4 Improving Students' Writing Style
    p Deaf and Hard-of-Hearing NTID students often write differently from students who can hear because they haven't been exposed to the English language in the same way. Because English is not the first language for most NTID students, they struggle to write sentences with native-like fluency. The goal of this project is to create an application to support these students in achieving better flow and more nuanced word choices in their writing. When they upload their essays into the application, students can get feedback and suggestions for improvement in their writing.
    p Specifically, the application will look to improve word choice, which impacts the overall writing voice. For instance, the application will suggest replacing common words such as "said" with "announced" or "cried," depending on which word is more academic. The word choice suggestion is the major feature of this application. If time permits, the application will expand to other areas such as correcting the passive voice and combining simple sentences. For example, the sentences "I like my dog" and "he barks a lot" may be combined into "I like my dog even though he barks a lot," which flows better.
    p The development team will conduct usability testing on college students to make sure the interface is easy to understand. Ideally, the students will be non-native English speakers and enrolled in NTID. Participants will be asked to use the application and provide feedback such as suggestions for improvement. Through iterative development, the project will deliver an application that may supplement students' writing.