extends navbar.pug

block content
    h4 Timecards Spring Semester

    p Look at the time worked by each team member
    ul
        li
            a(href="https://drive.google.com/open?id=1JDhoXAurhNP13Du3acF2eeQ20AbrAhfz4SdUQKXkOuM")
                | Week 1
        li
            a(href="https://drive.google.com/open?id=1Effoio3vFwrs_qrKe6Au2fdpMbAfFpt_h5Btk9P5WWU")
                | Week 2
        li
            a(href="https://drive.google.com/open?id=10RZl_dCKE1xjcppsR4jx73oGyMd5uV3XrcJmqNRRubE")
                | Week 3
        li
            a(href="https://drive.google.com/open?id=1RP4ED-PiQvIRTubuL8KEsnMzBfuifXwHyYmPgXchr_g")
                | Week 4
        li
            a(href="https://drive.google.com/open?id=1FcpTg_itqg0dhcWw7trxJr0dhqdxAJ-fu_BeDfMaSiI")
                | Week 5
        li
            a(href="https://drive.google.com/open?id=1bdsRBypU69wR8X1SHg20yrFEICSh7aeyrQCYREZZzX0")
                | Week 6
        li
            a(href="https://drive.google.com/open?id=1CgGzv4AgZDDy__07nCp6rGapFHTrY8b7pjMzJx64PRg")
                | Week 7
        li
            a(href="https://drive.google.com/open?id=1jju_-7CD-vfgOthTZUkI2fe21K7zXF29DO7MBrZuG6k")
                | Week 8
        li
            a(href="https://drive.google.com/open?id=1m_OGjibLCOaHo7EL-tsoHz127tr9FGKEmGgiDLVI-EA")
                | Week 9
        li
            a(href="https://drive.google.com/open?id=1pQA24BIRqiJzfBm3phpTPjJIyr2S9ZhJqHoFSGM7J_4")
                | Week 10
        li
            a(href="https://drive.google.com/open?id=16O_19XLZMekSNH1NeemBZj4T8dUl2AMRlVtzilsrDyA")
                | Week 11
        li
            a(href="https://drive.google.com/open?id=1DWlxuTyCoQ6T-K5I9R6IKBFiVJeeVHCg-VySCMimCBs")
                | Week 12
        li
            a(href="https://drive.google.com/open?id=1HoXxfx9YBiQC-VgfDDaKm-KNLgI0fJ6GTccBvfiQBd8")
                | Week 13
        li
            a(href="https://drive.google.com/open?id=1oZ-8nDxkXPmV6qlZNHI70rDSl1iZFh7McD50aTkofrE")
                | Week 14
        li
            a(href="https://drive.google.com/open?id=1ojJmZECGaBQwpumX84cNp0UCxV1z0kFy9Il1ULYN5uY")
                | Week 15
        li
            a(href="https://drive.google.com/open?id=1quT9qR43xo9GPpx8UTdfulqPKtFSSQMxlEdjVQPFKNM")
                | Week 16