extends navbar.pug

block content
    h4 Timecards Fall Semester

    p Look at the time worked by each team member
    ul
        li
            a(href="https://docs.google.com/spreadsheets/d/1HwKwSk4Th8COxI9Vyad_esMY7LwcBZDOJatuDAFuRzQ/edit?usp=sharing")
                | Week 1
        li
            a(href="https://docs.google.com/spreadsheets/d/1i5Ga1w0hu_RUilEbM-GQBfu-BV0V6vH7MWuxTL7_vnw/edit?usp=sharing")
                | Week 2
        li
            a(href="https://docs.google.com/spreadsheets/d/1PsCBbUkCtivCWZIf2Rtb3Zzonwo6NP3iarbYN5gItW0/edit?usp=sharing")
                | Week 3
        li
            a(href="https://docs.google.com/spreadsheets/d/11BjKJIx3aN6uQ5EOQiFSiTihFkv_6ULcHJMsV9BATo0/edit?usp=sharing")
                | Week 4
        li
            a(href="https://docs.google.com/spreadsheets/d/1BxZ9fF7DvBpEnhV7bZ7PhI-Lxls9h-RzX1KfeqKUR7I/edit?usp=sharing")
                | Week 5
        li
            a(href="https://docs.google.com/spreadsheets/d/1p2HkTB983sWj5d1fpKYyiEFs6EURwPByoe4AGdmyqLs/edit?usp=sharing")
                | Week 6
        li
            a(href="https://docs.google.com/spreadsheets/d/1X_pZx2QjorFkz468aojLylpUALvieG4J5AVNeYKiBRI/edit?usp=sharing")
                | Week 7
        li
            a(href="https://docs.google.com/spreadsheets/d/1WnBYFNdcnwkCIP2SVrhwYXwFhXrM3uSdPlo-B_MYPZw/edit?usp=sharing")
                | Week 8
        li
            a(href="https://docs.google.com/spreadsheets/d/1iRJJbOF_dxC78DvmJXFcFCMfn9hqubMTstBeRqaSMxY/edit?usp=sharing")
                | Week 9
        li
            a(href="https://docs.google.com/spreadsheets/d/1wWMGwCx0rsiN38jleU93JBAFY-QevzJ9XEoa2O4_rBw/edit?usp=sharing")
                | Week 10
        li
            a(href="https://docs.google.com/spreadsheets/d/1chmDokSK1PL9Wst9nqkjhiVcCNqrqWuNgKdrDPsHOzo/edit?usp=sharing")
                | Week 11
        li
            a(href="https://docs.google.com/spreadsheets/d/1Ldo46TpKGwAnE-Hu8vy0G9Vm4aeH7R-HQaAjeXnGkos/edit?usp=sharing")
                | Week 12
        li
            a(href="https://docs.google.com/spreadsheets/d/1eaWyrTsVKbfDKNdeRR_T3jsWCgMQ1536jJjYnFi8Wxs/edit?usp=sharing")
                | Week 13
        li
            a(href="https://docs.google.com/spreadsheets/d/1rTCV0l-JYaZC_nRdN9d4DMKlKGBhFa-7JLHbR_tIk6g/edit?usp=sharing")
                | Week 14
        li
            a(href="https://docs.google.com/spreadsheets/d/1unMAfbRZx5Mv3FZMaMJ-4SksZowk8g610sHgg7igKUA/edit?usp=sharing")
                | Week 15
        li
            a(href="https://docs.google.com/spreadsheets/d/1VwtQ0J-rfTa0f6kfCp_oqYfLy8w3YGQUL0GPqnwc2m8/edit?usp=sharing")
                | Week 16