extends navbar.pug

block additional_head
    script(
        src='script/word_definition_vote.js'
    )

block content
    h3#head-word Run
    #word-option-container
        button One
        button Two
        button Three
        button Four
        button Five
        button Six
        button Seven
        button Eight
        button Nine
        button Ten